{"openapi":"3.0.0","info":{"title":"Bizzpack(Finance) API Documentation","version":"","description":"Bizzpack(Finance) API specification and documentation.","termsOfService":"","license":null,"contact":[],"x-logo":{"url":"https:\/\/bizzsol.com.bd\/erp\/images\/bizz-logo-lg.png","altText":"Bizzpack(Finance) API Documentation","backgroundColor":""}},"components":{"securitySchemes":{"BearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":[]},"servers":[{"url":"https:\/\/bizzsol.com.bd\/sslz\/finance","description":"Documentation generator server."},{"url":"http:\/\/test.example.com","description":"Test server."}],"paths":{"\/api\/login":{"post":{"tags":["general"],"operationId":"","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"login":true,"user":{"id":1,"name":"Admin","associate_id":"bizzsol","user_id":null,"phone":"123232323","email":"admin@bizzsol.com.bd","email_verified_at":null,"two_factor_secret":null,"two_factor_recovery_codes":null,"current_team_id":null,"profile_photo_path":null,"password_request":0,"unit_permissions":null,"buyer_permissions":null,"management_restriction":null,"buyer_template_permission":null,"location_permission":null,"cost_centre_id":2,"token":"QscxaIFjopin26Uta0y54kzisDxCFcxM","created_at":null,"updated_at":"2023-08-27T04:46:05.000000Z","deleted_at":null,"created_by":null,"updated_by":null}}}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/bizzsol.com.bd\/sslz\/finance\/api\/login\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/finance\/api\/login\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/finance\/api\/login\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/get-cost-centres":{"post":{"tags":["general"],"operationId":"","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":"<option selected value=\"\" data-company-id=\"\">Choose Cost Centre<\/option><optgroup label=\"[01] SSLCOMMERZ LIMITED\"><optgroup label=\"&nbsp;&nbsp;SSLCOMMERZ LIMITED\"><option value=\"191\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[174] 01-SSLC-Finance & Accounts<\/option><option value=\"192\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[578] 01-SSLC-Procurement<\/option><option value=\"193\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[484] 01-SSLC-Engineering<\/option><option value=\"194\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[987] 01-SSLC-Innovation Center of Excellence<\/option><option value=\"195\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[865] 01-SSLC-Project Management Office<\/option><option value=\"196\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[242] 01-SSLC-Data<\/option><option value=\"226\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[123] 04-SSLC-Finance & Accounts<\/option><option value=\"227\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[582] 04-SSLC-Procurement<\/option><option value=\"228\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[628] 04-SSLC-Engineering<\/option><option value=\"229\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[907] 04-SSLC-Innovation Center of Excellence<\/option><option value=\"230\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[270] 04-SSLC-Project Management Office<\/option><option value=\"231\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[879] 04-SSLC-Data<\/option><option value=\"262\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[515] 05-SSLC-Finance & Accounts<\/option><option value=\"263\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[576] 05-SSLC-Procurement<\/option><option value=\"264\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[170] 05-SSLC-Engineering<\/option><option value=\"265\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[107] 05-SSLC-Innovation Center of Excellence<\/option><option value=\"266\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[850] 05-SSLC-Project Management Office<\/option><option value=\"267\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[231] 05-SSLC-Data<\/option><option value=\"298\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[671] 06-SSLC-Finance & Accounts<\/option><option value=\"299\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[321] 06-SSLC-Procurement<\/option><option value=\"300\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[752] 06-SSLC-Engineering<\/option><option value=\"301\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[176] 06-SSLC-Innovation Center of Excellence<\/option><option value=\"302\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[154] 06-SSLC-Project Management Office<\/option><option value=\"303\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[523] 06-SSLC-Data<\/option><option value=\"334\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[976] 07-SSLC-Finance & Accounts<\/option><option value=\"335\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[740] 07-SSLC-Procurement<\/option><option value=\"336\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[675] 07-SSLC-Engineering<\/option><option value=\"337\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[461] 07-SSLC-Innovation Center of Excellence<\/option><option value=\"338\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[916] 07-SSLC-Project Management Office<\/option><option value=\"339\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[655] 07-SSLC-Data<\/option><option value=\"370\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[352] 08-SSLC-Finance & Accounts<\/option><option value=\"371\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[100] 08-SSLC-Procurement<\/option><option value=\"372\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[571] 08-SSLC-Engineering<\/option><option value=\"373\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[977] 08-SSLC-Innovation Center of Excellence<\/option><option value=\"374\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[408] 08-SSLC-Project Management Office<\/option><option value=\"375\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[190] 08-SSLC-Data<\/option><\/optgroup><\/optgroup><optgroup label=\"[04] SOFTWARE SHOP LTD.\"><optgroup label=\"&nbsp;&nbsp;SOFTWARE SHOP LTD.\"><option value=\"2\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[802] 04-SSL-Finance & Accounts<\/option><option value=\"185\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[928] 01-SSL-Finance & Accounts<\/option><option value=\"186\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[531] 01-SSL-Procurement<\/option><option value=\"187\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[411] 01-SSL-Engineering<\/option><option value=\"188\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[955] 01-SSL-Innovation Center of Excellence<\/option><option value=\"189\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[710] 01-SSL-Project Management Office<\/option><option value=\"190\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[968] 01-SSL-Data<\/option><option value=\"221\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[636] 04-SSL-Procurement<\/option><option value=\"222\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[356] 04-SSL-Engineering<\/option><option value=\"223\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[354] 04-SSL-Innovation Center of Excellence<\/option><option value=\"224\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[615] 04-SSL-Project Management Office<\/option><option value=\"225\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[248] 04-SSL-Data<\/option><option value=\"256\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[392] 05-SSL-Finance & Accounts<\/option><option value=\"257\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[683] 05-SSL-Procurement<\/option><option value=\"258\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[958] 05-SSL-Engineering<\/option><option value=\"259\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[380] 05-SSL-Innovation Center of Excellence<\/option><option value=\"260\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[327] 05-SSL-Project Management Office<\/option><option value=\"261\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[351] 05-SSL-Data<\/option><option value=\"292\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[361] 06-SSL-Finance & Accounts<\/option><option value=\"293\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[978] 06-SSL-Procurement<\/option><option value=\"294\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[156] 06-SSL-Engineering<\/option><option value=\"295\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[688] 06-SSL-Innovation Center of Excellence<\/option><option value=\"296\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[987] 06-SSL-Project Management Office<\/option><option value=\"297\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[618] 06-SSL-Data<\/option><option value=\"328\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[585] 07-SSL-Finance & Accounts<\/option><option value=\"329\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[940] 07-SSL-Procurement<\/option><option value=\"330\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[332] 07-SSL-Engineering<\/option><option value=\"331\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[762] 07-SSL-Innovation Center of Excellence<\/option><option value=\"332\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[197] 07-SSL-Project Management Office<\/option><option value=\"333\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[755] 07-SSL-Data<\/option><option value=\"364\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[565] 08-SSL-Finance & Accounts<\/option><option value=\"365\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[859] 08-SSL-Procurement<\/option><option value=\"366\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[952] 08-SSL-Engineering<\/option><option value=\"367\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[905] 08-SSL-Innovation Center of Excellence<\/option><option value=\"368\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[321] 08-SSL-Project Management Office<\/option><option value=\"369\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[163] 08-SSL-Data<\/option><\/optgroup><\/optgroup><optgroup label=\"[05] NGAGE 360 LIMITED\"><optgroup label=\"&nbsp;&nbsp;NGAGE 360 LIMITED\"><option value=\"197\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[114] 01-NGA-Finance & Accounts<\/option><option value=\"198\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[467] 01-NGA-Procurement<\/option><option value=\"199\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[409] 01-NGA-Engineering<\/option><option value=\"200\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[953] 01-NGA-Innovation Center of Excellence<\/option><option value=\"201\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[556] 01-NGA-Project Management Office<\/option><option value=\"202\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[824] 01-NGA-Data<\/option><option value=\"232\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[947] 04-NGA-Finance & Accounts<\/option><option value=\"233\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[578] 04-NGA-Procurement<\/option><option value=\"234\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[970] 04-NGA-Engineering<\/option><option value=\"235\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[265] 04-NGA-Innovation Center of Excellence<\/option><option value=\"236\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[995] 04-NGA-Project Management Office<\/option><option value=\"237\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[845] 04-NGA-Data<\/option><option value=\"268\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[308] 05-NGA-Finance & Accounts<\/option><option value=\"269\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[531] 05-NGA-Procurement<\/option><option value=\"270\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[115] 05-NGA-Engineering<\/option><option value=\"271\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[152] 05-NGA-Innovation Center of Excellence<\/option><option value=\"272\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[191] 05-NGA-Project Management Office<\/option><option value=\"273\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[175] 05-NGA-Data<\/option><option value=\"304\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[738] 06-NGA-Finance & Accounts<\/option><option value=\"305\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[452] 06-NGA-Procurement<\/option><option value=\"306\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[916] 06-NGA-Engineering<\/option><option value=\"307\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[384] 06-NGA-Innovation Center of Excellence<\/option><option value=\"308\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[262] 06-NGA-Project Management Office<\/option><option value=\"309\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[578] 06-NGA-Data<\/option><option value=\"340\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[212] 07-NGA-Finance & Accounts<\/option><option value=\"341\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[184] 07-NGA-Procurement<\/option><option value=\"342\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[791] 07-NGA-Engineering<\/option><option value=\"343\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[159] 07-NGA-Innovation Center of Excellence<\/option><option value=\"344\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[230] 07-NGA-Project Management Office<\/option><option value=\"345\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[763] 07-NGA-Data<\/option><option value=\"376\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[653] 08-NGA-Finance & Accounts<\/option><option value=\"377\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[111] 08-NGA-Procurement<\/option><option value=\"378\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[740] 08-NGA-Engineering<\/option><option value=\"379\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[199] 08-NGA-Innovation Center of Excellence<\/option><option value=\"380\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[892] 08-NGA-Project Management Office<\/option><option value=\"381\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[969] 08-NGA-Data<\/option><\/optgroup><\/optgroup><optgroup label=\"[06] CONCORDE GARMENTS LIMITED\"><optgroup label=\"&nbsp;&nbsp;CONCORDE GARMENTS LIMITED\"><option value=\"203\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[648] 01-CGL-Finance & Accounts<\/option><option value=\"204\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[213] 01-CGL-Procurement<\/option><option value=\"205\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[407] 01-CGL-Engineering<\/option><option value=\"206\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[341] 01-CGL-Innovation Center of Excellence<\/option><option value=\"207\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[485] 01-CGL-Project Management Office<\/option><option value=\"208\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[522] 01-CGL-Data<\/option><option value=\"238\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[521] 04-CGL-Finance & Accounts<\/option><option value=\"239\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[642] 04-CGL-Procurement<\/option><option value=\"240\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[128] 04-CGL-Engineering<\/option><option value=\"241\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[782] 04-CGL-Innovation Center of Excellence<\/option><option value=\"242\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[611] 04-CGL-Project Management Office<\/option><option value=\"243\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[993] 04-CGL-Data<\/option><option value=\"274\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[681] 05-CGL-Finance & Accounts<\/option><option value=\"275\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[148] 05-CGL-Procurement<\/option><option value=\"276\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[162] 05-CGL-Engineering<\/option><option value=\"277\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[921] 05-CGL-Innovation Center of Excellence<\/option><option value=\"278\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[455] 05-CGL-Project Management Office<\/option><option value=\"279\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[520] 05-CGL-Data<\/option><option value=\"310\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[968] 06-CGL-Finance & Accounts<\/option><option value=\"311\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[123] 06-CGL-Procurement<\/option><option value=\"312\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[878] 06-CGL-Engineering<\/option><option value=\"313\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[995] 06-CGL-Innovation Center of Excellence<\/option><option value=\"314\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[783] 06-CGL-Project Management Office<\/option><option value=\"315\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[164] 06-CGL-Data<\/option><option value=\"346\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[704] 07-CGL-Finance & Accounts<\/option><option value=\"347\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[813] 07-CGL-Procurement<\/option><option value=\"348\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[330] 07-CGL-Engineering<\/option><option value=\"349\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[101] 07-CGL-Innovation Center of Excellence<\/option><option value=\"350\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[430] 07-CGL-Project Management Office<\/option><option value=\"351\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[393] 07-CGL-Data<\/option><option value=\"382\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[349] 08-CGL-Finance & Accounts<\/option><option value=\"383\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[191] 08-CGL-Procurement<\/option><option value=\"384\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[178] 08-CGL-Engineering<\/option><option value=\"385\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[427] 08-CGL-Innovation Center of Excellence<\/option><option value=\"386\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[768] 08-CGL-Project Management Office<\/option><option value=\"387\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[859] 08-CGL-Data<\/option><\/optgroup><\/optgroup><optgroup label=\"[07] OSMAN INTERLINING LIMITED\"><optgroup label=\"&nbsp;&nbsp;OSMAN INTERLINING LIMITED\"><option value=\"209\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[861] 01-OIL-Finance & Accounts<\/option><option value=\"210\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[974] 01-OIL-Procurement<\/option><option value=\"211\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[428] 01-OIL-Engineering<\/option><option value=\"212\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[198] 01-OIL-Innovation Center of Excellence<\/option><option value=\"213\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[289] 01-OIL-Project Management Office<\/option><option value=\"214\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[713] 01-OIL-Data<\/option><option value=\"244\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[648] 04-OIL-Finance & Accounts<\/option><option value=\"245\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[449] 04-OIL-Procurement<\/option><option value=\"246\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[762] 04-OIL-Engineering<\/option><option value=\"247\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[323] 04-OIL-Innovation Center of Excellence<\/option><option value=\"248\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[182] 04-OIL-Project Management Office<\/option><option value=\"249\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[864] 04-OIL-Data<\/option><option value=\"280\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[560] 05-OIL-Finance & Accounts<\/option><option value=\"281\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[868] 05-OIL-Procurement<\/option><option value=\"282\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[731] 05-OIL-Engineering<\/option><option value=\"283\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[819] 05-OIL-Innovation Center of Excellence<\/option><option value=\"284\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[672] 05-OIL-Project Management Office<\/option><option value=\"285\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[224] 05-OIL-Data<\/option><option value=\"316\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[866] 06-OIL-Finance & Accounts<\/option><option value=\"317\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[627] 06-OIL-Procurement<\/option><option value=\"318\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[130] 06-OIL-Engineering<\/option><option value=\"319\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[707] 06-OIL-Innovation Center of Excellence<\/option><option value=\"320\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[899] 06-OIL-Project Management Office<\/option><option value=\"321\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[733] 06-OIL-Data<\/option><option value=\"352\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[800] 07-OIL-Finance & Accounts<\/option><option value=\"353\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[125] 07-OIL-Procurement<\/option><option value=\"354\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[969] 07-OIL-Engineering<\/option><option value=\"355\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[851] 07-OIL-Innovation Center of Excellence<\/option><option value=\"356\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[617] 07-OIL-Project Management Office<\/option><option value=\"357\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[816] 07-OIL-Data<\/option><option value=\"388\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[311] 08-OIL-Finance & Accounts<\/option><option value=\"389\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[904] 08-OIL-Procurement<\/option><option value=\"390\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[985] 08-OIL-Engineering<\/option><option value=\"391\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[301] 08-OIL-Innovation Center of Excellence<\/option><option value=\"392\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[103] 08-OIL-Project Management Office<\/option><option value=\"393\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[876] 08-OIL-Data<\/option><\/optgroup><\/optgroup><optgroup label=\"[08] OTL DOUBLEGULL MANUFACTURING CO. LTD.\"><optgroup label=\"&nbsp;&nbsp;OTL DOUBLEGULL MANUFACTURING CO. LTD.\"><option value=\"215\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[237] 01-OTL-Finance & Accounts<\/option><option value=\"216\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[261] 01-OTL-Procurement<\/option><option value=\"217\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[972] 01-OTL-Engineering<\/option><option value=\"218\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[526] 01-OTL-Innovation Center of Excellence<\/option><option value=\"219\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[718] 01-OTL-Project Management Office<\/option><option value=\"220\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[658] 01-OTL-Data<\/option><option value=\"250\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[108] 04-OTL-Finance & Accounts<\/option><option value=\"251\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[911] 04-OTL-Procurement<\/option><option value=\"252\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[535] 04-OTL-Engineering<\/option><option value=\"253\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[881] 04-OTL-Innovation Center of Excellence<\/option><option value=\"254\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[943] 04-OTL-Project Management Office<\/option><option value=\"255\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[611] 04-OTL-Data<\/option><option value=\"286\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[896] 05-OTL-Finance & Accounts<\/option><option value=\"287\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[739] 05-OTL-Procurement<\/option><option value=\"288\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[993] 05-OTL-Engineering<\/option><option value=\"289\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[407] 05-OTL-Innovation Center of Excellence<\/option><option value=\"290\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[594] 05-OTL-Project Management Office<\/option><option value=\"291\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[822] 05-OTL-Data<\/option><option value=\"322\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[424] 06-OTL-Finance & Accounts<\/option><option value=\"323\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[556] 06-OTL-Procurement<\/option><option value=\"324\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[796] 06-OTL-Engineering<\/option><option value=\"325\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[502] 06-OTL-Innovation Center of Excellence<\/option><option value=\"326\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[753] 06-OTL-Project Management Office<\/option><option value=\"327\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[858] 06-OTL-Data<\/option><option value=\"358\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[908] 07-OTL-Finance & Accounts<\/option><option value=\"359\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[502] 07-OTL-Procurement<\/option><option value=\"360\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[510] 07-OTL-Engineering<\/option><option value=\"361\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[485] 07-OTL-Innovation Center of Excellence<\/option><option value=\"362\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[688] 07-OTL-Project Management Office<\/option><option value=\"363\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[864] 07-OTL-Data<\/option><option value=\"394\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[221] 08-OTL-Finance & Accounts<\/option><option value=\"395\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[753] 08-OTL-Procurement<\/option><option value=\"396\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[922] 08-OTL-Engineering<\/option><option value=\"397\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[638] 08-OTL-Innovation Center of Excellence<\/option><option value=\"398\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[254] 08-OTL-Project Management Office<\/option><option value=\"399\"  data-company-id=\"\">&nbsp;&nbsp;&nbsp;&nbsp;[658] 08-OTL-Data<\/option><\/optgroup><\/optgroup>"}}}}}},"x-code-samples":[{"lang":"Bash","source":"curl -X POST \"https:\/\/bizzsol.com.bd\/sslz\/finance\/api\/get-cost-centres\" \n"},{"lang":"Javascript","source":"const url = new URL(\"https:\/\/bizzsol.com.bd\/sslz\/finance\/api\/get-cost-centres\");\n\nlet headers = {\n    \"Accept\": \"application\/json\",\n    \"Content-Type\": \"application\/json\",\n}\n\nfetch(url, {\n    method: \"POST\",\n    headers: headers,\n})\n    .then(response => response.json())\n    .then(json => console.log(json));\n"},{"lang":"PHP","source":"$headers = [\n    \"Accept\" => \"application\/json\",\n    \"Content-Type\" => \"application\/json\",\n];\n\n\n$ch = curl_init(\"https:\/\/bizzsol.com.bd\/sslz\/finance\/api\/get-cost-centres\");\ncurl_setopt($ch, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_setopt($ch, CURLOPT_HTTPHEADER, $headers);\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, true);\n\n$result = curl_exec($ch);\n$err = curl_error($ch);\ncurl_close($ch);\n\nif ($err) {\n  throw \\Exception($err);\n} else {\n  return $response;\n}\n"}]}},"\/api\/get-all-group-and-ledgers":{"post":{"tags":["general"],"operationId":"","description":"","requestBody":{"description":"","required":true,"content":{"application\/json":{"schema":{"type":"object"}}}},"parameters":[],"responses":{"200":{"description":"success","content":{"application\/json":{"schema":{"type":"object","example":{"success":true,"data":{"groups":[{"id":9,"parent_id":0,"code":"10","name":"Assets","group_code_starts_at":1000,"group_code_ends_at":1999,"coa_code_starts_at":10001,"coa_code_ends_at":10999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:08:45.000000Z","updated_at":"2023-05-22T04:48:48.000000Z","deleted_at":null,"parent":null,"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":10,"parent_id":9,"code":"1000","name":"Current Assets","group_code_starts_at":1001,"group_code_ends_at":1099,"coa_code_starts_at":1000001,"coa_code_ends_at":1000999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:09:00.000000Z","updated_at":"2022-10-03T10:21:02.000000Z","deleted_at":null,"parent":{"id":9,"parent_id":0,"code":"10","name":"Assets","group_code_starts_at":1000,"group_code_ends_at":1999,"coa_code_starts_at":10001,"coa_code_ends_at":10999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:08:45.000000Z","updated_at":"2023-05-22T04:48:48.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":11,"parent_id":10,"code":"1100","name":"Cash and cash equivalents","group_code_starts_at":1101,"group_code_ends_at":1199,"coa_code_starts_at":1001001,"coa_code_ends_at":1001999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:09:14.000000Z","updated_at":"2022-10-03T05:17:01.000000Z","deleted_at":null,"parent":{"id":10,"parent_id":9,"code":"1000","name":"Current Assets","group_code_starts_at":1001,"group_code_ends_at":1099,"coa_code_starts_at":1000001,"coa_code_ends_at":1000999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:09:00.000000Z","updated_at":"2022-10-03T10:21:02.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":12,"parent_id":10,"code":"1200","name":"Short term marketable securities","group_code_starts_at":1201,"group_code_ends_at":1299,"coa_code_starts_at":1200001,"coa_code_ends_at":1200999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:09:37.000000Z","updated_at":"2022-10-03T06:47:54.000000Z","deleted_at":null,"parent":{"id":10,"parent_id":9,"code":"1000","name":"Current Assets","group_code_starts_at":1001,"group_code_ends_at":1099,"coa_code_starts_at":1000001,"coa_code_ends_at":1000999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:09:00.000000Z","updated_at":"2022-10-03T10:21:02.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":13,"account_group_id":12,"parent_id":null,"code":"1200001","name":"Short Term Marketable Securities","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Short Term Marketable Securities","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:12:10.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null}]},{"id":13,"parent_id":10,"code":"1300","name":"Accounts receivable","group_code_starts_at":1301,"group_code_ends_at":1349,"coa_code_starts_at":1300001,"coa_code_ends_at":1300999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T10:41:45.000000Z","updated_at":"2022-10-03T06:47:54.000000Z","deleted_at":null,"parent":{"id":10,"parent_id":9,"code":"1000","name":"Current Assets","group_code_starts_at":1001,"group_code_ends_at":1099,"coa_code_starts_at":1000001,"coa_code_ends_at":1000999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:09:00.000000Z","updated_at":"2022-10-03T10:21:02.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":14,"account_group_id":13,"parent_id":null,"code":"1300001","name":"Accounts Receivable","type":"D","exchange_rate_id":5,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Accounts Receivable","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:12:22.000000Z","updated_at":"2022-12-06T06:16:09.000000Z","deleted_at":null},{"id":15,"account_group_id":13,"parent_id":null,"code":"1300002","name":"Allowance for doubtful debts account","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Allowance for doubtful debts account","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:12:31.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null},{"id":213,"account_group_id":13,"parent_id":14,"code":"130000101","name":"Ferdows","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":null,"is_manual_transaction_allowed":"yes","is_reviewed":"pending","is_assessed":"pending","is_approved":"pending","created_by":22,"updated_by":22,"created_at":null,"updated_at":null,"deleted_at":null}]},{"id":14,"parent_id":10,"code":"1350","name":"Inventory","group_code_starts_at":1351,"group_code_ends_at":1399,"coa_code_starts_at":1350001,"coa_code_ends_at":1350999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T10:41:57.000000Z","updated_at":"2022-10-03T05:17:01.000000Z","deleted_at":null,"parent":{"id":10,"parent_id":9,"code":"1000","name":"Current Assets","group_code_starts_at":1001,"group_code_ends_at":1099,"coa_code_starts_at":1000001,"coa_code_ends_at":1000999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:09:00.000000Z","updated_at":"2022-10-03T10:21:02.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":16,"account_group_id":14,"parent_id":null,"code":"1350001","name":"Raw Materials","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Raw Materials","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:13:08.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null},{"id":17,"account_group_id":14,"parent_id":null,"code":"1350002","name":"Work in progress","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Work in progress","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:13:17.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null},{"id":18,"account_group_id":14,"parent_id":null,"code":"1350003","name":"Finished goods","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Finished goods","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:13:26.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null},{"id":202,"account_group_id":14,"parent_id":null,"code":"1350004","name":"Stationery","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Stationery","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":null,"created_at":"2022-10-18T09:46:44.000000Z","updated_at":"2022-10-18T09:46:44.000000Z","deleted_at":null}]},{"id":15,"parent_id":10,"code":"1400","name":"Other current assets","group_code_starts_at":1401,"group_code_ends_at":1449,"coa_code_starts_at":1400001,"coa_code_ends_at":1400999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T10:42:09.000000Z","updated_at":"2022-10-03T06:47:54.000000Z","deleted_at":null,"parent":{"id":10,"parent_id":9,"code":"1000","name":"Current Assets","group_code_starts_at":1001,"group_code_ends_at":1099,"coa_code_starts_at":1000001,"coa_code_ends_at":1000999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:09:00.000000Z","updated_at":"2022-10-03T10:21:02.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":19,"account_group_id":15,"parent_id":null,"code":"1400001","name":"Other receivables","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Other receivables","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:14:54.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null},{"id":20,"account_group_id":15,"parent_id":null,"code":"1400002","name":"Prepayments","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Prepayments","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:15:04.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null},{"id":212,"account_group_id":15,"parent_id":null,"code":"1400003","name":"Currency Clearing","type":"D","exchange_rate_id":13,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Currency Clearing","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2023-05-08T09:29:37.000000Z","updated_at":"2023-05-08T19:41:35.000000Z","deleted_at":null},{"id":215,"account_group_id":15,"parent_id":null,"code":"1400004","name":"Provision for Unrealized Gain\/Loss - Asset","type":"D","exchange_rate_id":20,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Provision for Unrealized Gain\/Loss - Asset","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2023-05-28T07:10:58.000000Z","updated_at":"2023-05-28T07:10:58.000000Z","deleted_at":null}]},{"id":16,"parent_id":9,"code":"1500","name":"Long term assets","group_code_starts_at":1501,"group_code_ends_at":1599,"coa_code_starts_at":1500001,"coa_code_ends_at":1500999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T10:42:23.000000Z","updated_at":"2022-10-03T05:17:01.000000Z","deleted_at":null,"parent":{"id":9,"parent_id":0,"code":"10","name":"Assets","group_code_starts_at":1000,"group_code_ends_at":1999,"coa_code_starts_at":10001,"coa_code_ends_at":10999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T09:08:45.000000Z","updated_at":"2023-05-22T04:48:48.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":18,"parent_id":0,"code":"20","name":"Liabilities","group_code_starts_at":2000,"group_code_ends_at":2999,"coa_code_starts_at":20001,"coa_code_ends_at":20999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:08:26.000000Z","updated_at":"2022-10-03T05:24:12.000000Z","deleted_at":null,"parent":null,"account_class":{"id":2,"name":"Liabilities","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":19,"parent_id":0,"code":"40","name":"Incomes","group_code_starts_at":4000,"group_code_ends_at":4999,"coa_code_starts_at":40001,"coa_code_ends_at":40999,"account_class_id":4,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:08:33.000000Z","updated_at":"2022-10-03T05:24:12.000000Z","deleted_at":null,"parent":null,"account_class":{"id":4,"name":"Incomes","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":20,"parent_id":0,"code":"50","name":"Expenses","group_code_starts_at":5000,"group_code_ends_at":5999,"coa_code_starts_at":50001,"coa_code_ends_at":50999,"account_class_id":5,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:08:38.000000Z","updated_at":"2022-10-03T05:24:12.000000Z","deleted_at":null,"parent":null,"account_class":{"id":5,"name":"Expenses","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":21,"parent_id":16,"code":"1501","name":"Long term marketable securities","group_code_starts_at":1502,"group_code_ends_at":1509,"coa_code_starts_at":1501001,"coa_code_ends_at":1501999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:09:41.000000Z","updated_at":"2022-10-03T05:17:01.000000Z","deleted_at":null,"parent":{"id":16,"parent_id":9,"code":"1500","name":"Long term assets","group_code_starts_at":1501,"group_code_ends_at":1599,"coa_code_starts_at":1500001,"coa_code_ends_at":1500999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T10:42:23.000000Z","updated_at":"2022-10-03T05:17:01.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":44,"account_group_id":21,"parent_id":null,"code":"1501001","name":"Long term marketable securities","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Long term marketable securities","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:01:02.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null}]},{"id":22,"parent_id":16,"code":"1510","name":"Property, plant and equipment","group_code_starts_at":1511,"group_code_ends_at":1519,"coa_code_starts_at":1510001,"coa_code_ends_at":1510999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:09:51.000000Z","updated_at":"2022-10-03T07:03:50.000000Z","deleted_at":null,"parent":{"id":16,"parent_id":9,"code":"1500","name":"Long term assets","group_code_starts_at":1501,"group_code_ends_at":1599,"coa_code_starts_at":1500001,"coa_code_ends_at":1500999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T10:42:23.000000Z","updated_at":"2022-10-03T05:17:01.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":45,"account_group_id":22,"parent_id":null,"code":"1510001","name":"Land & Property","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Land & Property","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:01:22.000000Z","updated_at":"2023-04-16T06:50:44.000000Z","deleted_at":null},{"id":46,"account_group_id":22,"parent_id":null,"code":"1510002","name":"Accumulated Depreciation - Bulding","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Accumulated Depreciation - Bulding","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:01:33.000000Z","updated_at":"2023-04-16T06:53:03.000000Z","deleted_at":null},{"id":47,"account_group_id":22,"parent_id":null,"code":"1510003","name":"Plant & Machineries","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Plant & Machineries","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:01:42.000000Z","updated_at":"2022-10-18T05:29:28.000000Z","deleted_at":null},{"id":48,"account_group_id":22,"parent_id":null,"code":"1510004","name":"Accumulated Depreciation - Plant & Machineries","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Accumulated Depreciation - Plant & Machineries","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:01:53.000000Z","updated_at":"2022-10-18T05:30:03.000000Z","deleted_at":null},{"id":49,"account_group_id":22,"parent_id":null,"code":"1510005","name":"Equipment","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Equipment","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:02:00.000000Z","updated_at":"2022-10-03T07:03:51.000000Z","deleted_at":null},{"id":50,"account_group_id":22,"parent_id":null,"code":"1510006","name":"Accumulated Depreciation - Equipment","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Accumulated Depreciation - Equipment","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":1,"created_at":"2022-03-30T09:02:10.000000Z","updated_at":"2022-10-04T07:04:22.000000Z","deleted_at":null}]},{"id":23,"parent_id":16,"code":"1520","name":"Goodwill","group_code_starts_at":1521,"group_code_ends_at":1529,"coa_code_starts_at":1520001,"coa_code_ends_at":1520999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:09:58.000000Z","updated_at":"2022-10-03T07:03:50.000000Z","deleted_at":null,"parent":{"id":16,"parent_id":9,"code":"1500","name":"Long term assets","group_code_starts_at":1501,"group_code_ends_at":1599,"coa_code_starts_at":1500001,"coa_code_ends_at":1500999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T10:42:23.000000Z","updated_at":"2022-10-03T05:17:01.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":51,"account_group_id":23,"parent_id":null,"code":"1520001","name":"Goodwill","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Goodwill","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:02:19.000000Z","updated_at":"2022-10-03T07:03:51.000000Z","deleted_at":null}]},{"id":24,"parent_id":16,"code":"1530","name":"Intellectual property","group_code_starts_at":1531,"group_code_ends_at":1539,"coa_code_starts_at":1530001,"coa_code_ends_at":1530999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:10:07.000000Z","updated_at":"2022-10-03T07:03:50.000000Z","deleted_at":null,"parent":{"id":16,"parent_id":9,"code":"1500","name":"Long term assets","group_code_starts_at":1501,"group_code_ends_at":1599,"coa_code_starts_at":1500001,"coa_code_ends_at":1500999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T10:42:23.000000Z","updated_at":"2022-10-03T05:17:01.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":52,"account_group_id":24,"parent_id":null,"code":"1530001","name":"Intellectual Property","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Intellectual Property","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:02:26.000000Z","updated_at":"2022-10-03T07:03:51.000000Z","deleted_at":null},{"id":53,"account_group_id":24,"parent_id":null,"code":"1530002","name":"Intellectual Property Amortization","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Intellectual Property Amortization","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:02:37.000000Z","updated_at":"2022-10-03T07:03:51.000000Z","deleted_at":null}]},{"id":25,"parent_id":16,"code":"1540","name":"Other long term assets","group_code_starts_at":1541,"group_code_ends_at":1544,"coa_code_starts_at":1540001,"coa_code_ends_at":1540999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:10:17.000000Z","updated_at":"2022-10-03T07:03:50.000000Z","deleted_at":null,"parent":{"id":16,"parent_id":9,"code":"1500","name":"Long term assets","group_code_starts_at":1501,"group_code_ends_at":1599,"coa_code_starts_at":1500001,"coa_code_ends_at":1500999,"account_class_id":1,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-17T10:42:23.000000Z","updated_at":"2022-10-03T05:17:01.000000Z","deleted_at":null},"account_class":{"id":1,"name":"Assets","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":54,"account_group_id":25,"parent_id":null,"code":"1540001","name":"Other Assets","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Other Assets","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:03:04.000000Z","updated_at":"2022-10-03T07:03:51.000000Z","deleted_at":null},{"id":55,"account_group_id":25,"parent_id":null,"code":"1540002","name":"SSS","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"SSS","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:03:17.000000Z","updated_at":"2022-10-03T07:03:51.000000Z","deleted_at":null},{"id":203,"account_group_id":25,"parent_id":null,"code":"1540003","name":"CWIP - Buildings","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"CWIP","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":null,"created_at":"2022-10-22T06:44:47.000000Z","updated_at":"2022-10-22T06:44:47.000000Z","deleted_at":null},{"id":204,"account_group_id":25,"parent_id":null,"code":"1540004","name":"CWIP - Equipements","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"CWIP - Equipements","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":null,"created_at":"2022-10-29T06:32:04.000000Z","updated_at":"2022-10-29T06:32:04.000000Z","deleted_at":null},{"id":205,"account_group_id":25,"parent_id":null,"code":"1540005","name":"CWIP - Machinaries","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"CWIP - Equipements","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":null,"created_at":"2022-10-29T06:32:29.000000Z","updated_at":"2022-10-29T06:32:29.000000Z","deleted_at":null}]},{"id":26,"parent_id":18,"code":"2000","name":"Current Liabilities","group_code_starts_at":2001,"group_code_ends_at":2299,"coa_code_starts_at":2000001,"coa_code_ends_at":2000999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:57:40.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null,"parent":{"id":18,"parent_id":0,"code":"20","name":"Liabilities","group_code_starts_at":2000,"group_code_ends_at":2999,"coa_code_starts_at":20001,"coa_code_ends_at":20999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:08:26.000000Z","updated_at":"2022-10-03T05:24:12.000000Z","deleted_at":null},"account_class":{"id":2,"name":"Liabilities","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":27,"parent_id":26,"code":"2001","name":"Notes payable","group_code_starts_at":2002,"group_code_ends_at":2099,"coa_code_starts_at":2001001,"coa_code_ends_at":2001999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:57:51.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null,"parent":{"id":26,"parent_id":18,"code":"2000","name":"Current Liabilities","group_code_starts_at":2001,"group_code_ends_at":2299,"coa_code_starts_at":2000001,"coa_code_ends_at":2000999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:57:40.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":2,"name":"Liabilities","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":21,"account_group_id":27,"parent_id":null,"code":"2001001","name":"Notes payable","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Notes payable","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:08:08.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null}]},{"id":28,"parent_id":26,"code":"2100","name":"Accounts payable","group_code_starts_at":2101,"group_code_ends_at":2199,"coa_code_starts_at":2100001,"coa_code_ends_at":2100999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:58:03.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null,"parent":{"id":26,"parent_id":18,"code":"2000","name":"Current Liabilities","group_code_starts_at":2001,"group_code_ends_at":2299,"coa_code_starts_at":2000001,"coa_code_ends_at":2000999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:57:40.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":2,"name":"Liabilities","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":201,"account_group_id":28,"parent_id":null,"code":"2100001","name":"GR\/IR","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"GR\/IR","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":null,"created_at":"2022-10-12T05:06:42.000000Z","updated_at":"2022-10-12T05:06:42.000000Z","deleted_at":null}]},{"id":29,"parent_id":26,"code":"2200","name":"Other current liabilities","group_code_starts_at":2201,"group_code_ends_at":2249,"coa_code_starts_at":2200001,"coa_code_ends_at":2200999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:58:12.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null,"parent":{"id":26,"parent_id":18,"code":"2000","name":"Current Liabilities","group_code_starts_at":2001,"group_code_ends_at":2299,"coa_code_starts_at":2000001,"coa_code_ends_at":2000999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:57:40.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":2,"name":"Liabilities","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":23,"account_group_id":29,"parent_id":null,"code":"2200001","name":"Payroll payable","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Payroll payable","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:08:35.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null},{"id":24,"account_group_id":29,"parent_id":null,"code":"2200002","name":"Interest payable","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Interest payable","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:08:47.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null},{"id":25,"account_group_id":29,"parent_id":null,"code":"2200003","name":"Accrued expenses","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Accrued expenses","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:08:59.000000Z","updated_at":"2022-10-03T06:50:39.000000Z","deleted_at":null},{"id":26,"account_group_id":29,"parent_id":null,"code":"2200004","name":"Unearned revenue","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Unearned revenue","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:09:16.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":27,"account_group_id":29,"parent_id":null,"code":"2200005","name":"Sales Tax payable","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Sales Tax payable","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:09:27.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":28,"account_group_id":29,"parent_id":null,"code":"2200006","name":"AIT payable to NBR","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"AIT payable to NBR","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:09:40.000000Z","updated_at":"2023-03-27T08:44:17.000000Z","deleted_at":null},{"id":29,"account_group_id":29,"parent_id":null,"code":"2200007","name":"Payroll tax payable","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Payroll tax payable","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:09:56.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":30,"account_group_id":29,"parent_id":null,"code":"2200008","name":"Income tax payable","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Income tax payable","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:10:07.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":216,"account_group_id":29,"parent_id":null,"code":"2200009","name":"Provision for Unrealized Gain\/Loss - Liability","type":"D","exchange_rate_id":20,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Provision for Unrealized Gain\/Loss - Liability","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2023-05-28T07:11:14.000000Z","updated_at":"2023-05-28T07:11:14.000000Z","deleted_at":null}]},{"id":30,"parent_id":18,"code":"2300","name":"Long-term liabilities","group_code_starts_at":2301,"group_code_ends_at":2599,"coa_code_starts_at":2300001,"coa_code_ends_at":2300999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:58:23.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null,"parent":{"id":18,"parent_id":0,"code":"20","name":"Liabilities","group_code_starts_at":2000,"group_code_ends_at":2999,"coa_code_starts_at":20001,"coa_code_ends_at":20999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:08:26.000000Z","updated_at":"2022-10-03T05:24:12.000000Z","deleted_at":null},"account_class":{"id":2,"name":"Liabilities","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":31,"parent_id":69,"code":"3000","name":"Equity","group_code_starts_at":3001,"group_code_ends_at":3099,"coa_code_starts_at":3000001,"coa_code_ends_at":3000999,"account_class_id":3,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:58:33.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null,"parent":{"id":69,"parent_id":0,"code":"30","name":"Equities","group_code_starts_at":3000,"group_code_ends_at":3999,"coa_code_starts_at":30001,"coa_code_ends_at":30999,"account_class_id":3,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:08:38.000000Z","updated_at":"2022-10-03T05:24:12.000000Z","deleted_at":null},"account_class":{"id":3,"name":"Equity","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":32,"parent_id":18,"code":"2600","name":"Cost of Sales","group_code_starts_at":2601,"group_code_ends_at":2699,"coa_code_starts_at":2600001,"coa_code_ends_at":2600999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:58:45.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null,"parent":{"id":18,"parent_id":0,"code":"20","name":"Liabilities","group_code_starts_at":2000,"group_code_ends_at":2999,"coa_code_starts_at":20001,"coa_code_ends_at":20999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:08:26.000000Z","updated_at":"2022-10-03T05:24:12.000000Z","deleted_at":null},"account_class":{"id":2,"name":"Liabilities","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":33,"parent_id":30,"code":"2301","name":"Mortgages","group_code_starts_at":230101,"group_code_ends_at":230199,"coa_code_starts_at":2301001,"coa_code_ends_at":2301999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:59:22.000000Z","updated_at":"2022-10-03T07:14:02.000000Z","deleted_at":null,"parent":{"id":30,"parent_id":18,"code":"2300","name":"Long-term liabilities","group_code_starts_at":2301,"group_code_ends_at":2599,"coa_code_starts_at":2300001,"coa_code_ends_at":2300999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:58:23.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":2,"name":"Liabilities","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":31,"account_group_id":33,"parent_id":null,"code":"2301001","name":"Mortgage loan","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Mortgage loan","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:10:20.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null}]},{"id":34,"parent_id":30,"code":"2302","name":"Bonds","group_code_starts_at":230201,"group_code_ends_at":230299,"coa_code_starts_at":2302001,"coa_code_ends_at":2302999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:59:31.000000Z","updated_at":"2022-10-03T07:14:02.000000Z","deleted_at":null,"parent":{"id":30,"parent_id":18,"code":"2300","name":"Long-term liabilities","group_code_starts_at":2301,"group_code_ends_at":2599,"coa_code_starts_at":2300001,"coa_code_ends_at":2300999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:58:23.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":2,"name":"Liabilities","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":32,"account_group_id":34,"parent_id":null,"code":"2302001","name":"Bonds payable","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Bonds payable","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:10:30.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null}]},{"id":35,"parent_id":31,"code":"3001","name":"Capital","group_code_starts_at":300101,"group_code_ends_at":300199,"coa_code_starts_at":3001001,"coa_code_ends_at":3001999,"account_class_id":3,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:59:43.000000Z","updated_at":"2022-10-03T07:14:02.000000Z","deleted_at":null,"parent":{"id":31,"parent_id":69,"code":"3000","name":"Equity","group_code_starts_at":3001,"group_code_ends_at":3099,"coa_code_starts_at":3000001,"coa_code_ends_at":3000999,"account_class_id":3,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:58:33.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":3,"name":"Equity","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":33,"account_group_id":35,"parent_id":null,"code":"3001001","name":"Common stock","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Common stock","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:10:43.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null}]},{"id":36,"parent_id":31,"code":"3002","name":"Retained earnings","group_code_starts_at":300201,"group_code_ends_at":300299,"coa_code_starts_at":3002001,"coa_code_ends_at":3002999,"account_class_id":3,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:59:55.000000Z","updated_at":"2022-10-03T07:14:02.000000Z","deleted_at":null,"parent":{"id":31,"parent_id":69,"code":"3000","name":"Equity","group_code_starts_at":3001,"group_code_ends_at":3099,"coa_code_starts_at":3000001,"coa_code_ends_at":3000999,"account_class_id":3,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:58:33.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":3,"name":"Equity","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":34,"account_group_id":36,"parent_id":null,"code":"3002001","name":"Retained earnings","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Retained earnings","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:10:54.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null}]},{"id":37,"parent_id":32,"code":"2601","name":"Cost of sales","group_code_starts_at":260101,"group_code_ends_at":260199,"coa_code_starts_at":2601001,"coa_code_ends_at":2601999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:07:18.000000Z","updated_at":"2022-10-03T07:14:02.000000Z","deleted_at":null,"parent":{"id":32,"parent_id":18,"code":"2600","name":"Cost of Sales","group_code_starts_at":2601,"group_code_ends_at":2699,"coa_code_starts_at":2600001,"coa_code_ends_at":2600999,"account_class_id":2,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T05:58:45.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":2,"name":"Liabilities","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":35,"account_group_id":37,"parent_id":null,"code":"2601001","name":"Materials purchased","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Materials purchased","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:11:05.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":36,"account_group_id":37,"parent_id":null,"code":"2601002","name":"Packaging","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Packaging","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:11:16.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":37,"account_group_id":37,"parent_id":null,"code":"2601003","name":"Discounts taken","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Discounts taken","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:11:27.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":38,"account_group_id":37,"parent_id":null,"code":"2601004","name":"Carriage","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Carriage","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:11:36.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":39,"account_group_id":37,"parent_id":null,"code":"2601005","name":"Import duty","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Import duty","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:11:48.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":40,"account_group_id":37,"parent_id":null,"code":"2601006","name":"Transport insurance","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Transport insurance","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:11:58.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":41,"account_group_id":37,"parent_id":null,"code":"2601007","name":"Opening inventory","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Opening inventory","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:12:08.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":42,"account_group_id":37,"parent_id":null,"code":"2601008","name":"Closing inventory","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Closing inventory","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:12:18.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null},{"id":43,"account_group_id":37,"parent_id":null,"code":"2601009","name":"Productive Labour","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Productive Labour","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T06:12:28.000000Z","updated_at":"2022-10-03T06:50:40.000000Z","deleted_at":null}]},{"id":38,"parent_id":19,"code":"4000","name":"Incomes","group_code_starts_at":4001,"group_code_ends_at":4099,"coa_code_starts_at":4000001,"coa_code_ends_at":4000999,"account_class_id":4,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:04:31.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null,"parent":{"id":19,"parent_id":0,"code":"40","name":"Incomes","group_code_starts_at":4000,"group_code_ends_at":4999,"coa_code_starts_at":40001,"coa_code_ends_at":40999,"account_class_id":4,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:08:33.000000Z","updated_at":"2022-10-03T05:24:12.000000Z","deleted_at":null},"account_class":{"id":4,"name":"Incomes","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":39,"parent_id":38,"code":"4001","name":"Revenue","group_code_starts_at":400101,"group_code_ends_at":400199,"coa_code_starts_at":4001001,"coa_code_ends_at":4001999,"account_class_id":4,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:04:49.000000Z","updated_at":"2022-10-03T07:14:02.000000Z","deleted_at":null,"parent":{"id":38,"parent_id":19,"code":"4000","name":"Incomes","group_code_starts_at":4001,"group_code_ends_at":4099,"coa_code_starts_at":4000001,"coa_code_ends_at":4000999,"account_class_id":4,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:04:31.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":4,"name":"Incomes","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":56,"account_group_id":39,"parent_id":null,"code":"4001001","name":"Sales","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Sales","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:07:14.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":57,"account_group_id":39,"parent_id":null,"code":"4001002","name":"Discounts allowed","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Discounts allowed","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:07:23.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null}]},{"id":40,"parent_id":38,"code":"4002","name":"Other Income","group_code_starts_at":400201,"group_code_ends_at":400299,"coa_code_starts_at":4002001,"coa_code_ends_at":4002999,"account_class_id":4,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:04:59.000000Z","updated_at":"2022-10-03T07:14:02.000000Z","deleted_at":null,"parent":{"id":38,"parent_id":19,"code":"4000","name":"Incomes","group_code_starts_at":4001,"group_code_ends_at":4099,"coa_code_starts_at":4000001,"coa_code_ends_at":4000999,"account_class_id":4,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:04:31.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":4,"name":"Incomes","desc":null,"is_debit_positive":0,"is_credit_positive":1,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":58,"account_group_id":40,"parent_id":null,"code":"4002001","name":"Realized Gain\/Loss on sale of assets","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Realized Gain\/Loss on sale of assetsGain on sale of assets","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:08:13.000000Z","updated_at":"2023-05-28T07:09:09.000000Z","deleted_at":null},{"id":59,"account_group_id":40,"parent_id":null,"code":"4002002","name":"Interest income","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Interest income","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:08:24.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":60,"account_group_id":40,"parent_id":null,"code":"4002003","name":"Insurance claims","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Insurance claims","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:08:34.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":61,"account_group_id":40,"parent_id":null,"code":"4002004","name":"Rent income","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Rent income","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:08:43.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":200,"account_group_id":40,"parent_id":null,"code":"4002005","name":"Sale of Assets","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Sale of Assets","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":1,"updated_by":null,"created_at":"2022-10-04T06:34:20.000000Z","updated_at":"2022-10-04T06:34:20.000000Z","deleted_at":null},{"id":210,"account_group_id":40,"parent_id":null,"code":"4002006","name":"Realized Currency Gain\/Loss","type":"D","exchange_rate_id":9,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Realized Currency Gain\/Loss","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2023-05-07T09:50:10.000000Z","updated_at":"2023-05-28T07:09:14.000000Z","deleted_at":null},{"id":214,"account_group_id":40,"parent_id":null,"code":"4002007","name":"Unrealized Currency Gain\/Loss","type":"D","exchange_rate_id":20,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Unrealized Currency Gain\/Loss","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2023-05-28T07:10:23.000000Z","updated_at":"2023-05-28T07:10:23.000000Z","deleted_at":null}]},{"id":41,"parent_id":20,"code":"5000","name":"Expense","group_code_starts_at":5001,"group_code_ends_at":5099,"coa_code_starts_at":5000001,"coa_code_ends_at":5000999,"account_class_id":5,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:05:07.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null,"parent":{"id":20,"parent_id":0,"code":"50","name":"Expenses","group_code_starts_at":5000,"group_code_ends_at":5999,"coa_code_starts_at":50001,"coa_code_ends_at":50999,"account_class_id":5,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-21T06:08:38.000000Z","updated_at":"2022-10-03T05:24:12.000000Z","deleted_at":null},"account_class":{"id":5,"name":"Expenses","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[]},{"id":42,"parent_id":41,"code":"5001","name":"Research and development","group_code_starts_at":500101,"group_code_ends_at":500199,"coa_code_starts_at":5001001,"coa_code_ends_at":5001999,"account_class_id":5,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:05:15.000000Z","updated_at":"2022-10-03T07:14:02.000000Z","deleted_at":null,"parent":{"id":41,"parent_id":20,"code":"5000","name":"Expense","group_code_starts_at":5001,"group_code_ends_at":5099,"coa_code_starts_at":5000001,"coa_code_ends_at":5000999,"account_class_id":5,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:05:07.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":5,"name":"Expenses","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":62,"account_group_id":42,"parent_id":null,"code":"5001001","name":"Research and development","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Research and development","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:11:09.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null}]},{"id":43,"parent_id":41,"code":"5002","name":"Sales and marketing","group_code_starts_at":500201,"group_code_ends_at":500299,"coa_code_starts_at":5002001,"coa_code_ends_at":5002999,"account_class_id":5,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:05:24.000000Z","updated_at":"2022-10-03T07:14:02.000000Z","deleted_at":null,"parent":{"id":41,"parent_id":20,"code":"5000","name":"Expense","group_code_starts_at":5001,"group_code_ends_at":5099,"coa_code_starts_at":5000001,"coa_code_ends_at":5000999,"account_class_id":5,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:05:07.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":5,"name":"Expenses","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":63,"account_group_id":43,"parent_id":null,"code":"5002001","name":"Sales commissions","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Sales commissions","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:11:20.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":64,"account_group_id":43,"parent_id":null,"code":"5002002","name":"Sales promotion","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Sales promotion","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:11:38.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":65,"account_group_id":43,"parent_id":null,"code":"5002003","name":"Advertising","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Advertising","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:11:49.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":66,"account_group_id":43,"parent_id":null,"code":"5002004","name":"Gifts & samples","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Gifts & samples","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:12:00.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":67,"account_group_id":43,"parent_id":null,"code":"5002005","name":"Marketing expenses","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Marketing expenses","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:12:18.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null}]},{"id":44,"parent_id":41,"code":"5003","name":"General and administrative","group_code_starts_at":500301,"group_code_ends_at":500399,"coa_code_starts_at":5003001,"coa_code_ends_at":5003999,"account_class_id":5,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:05:38.000000Z","updated_at":"2022-10-03T07:14:02.000000Z","deleted_at":null,"parent":{"id":41,"parent_id":20,"code":"5000","name":"Expense","group_code_starts_at":5001,"group_code_ends_at":5099,"coa_code_starts_at":5000001,"coa_code_ends_at":5000999,"account_class_id":5,"is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:05:07.000000Z","updated_at":"2022-10-03T05:17:02.000000Z","deleted_at":null},"account_class":{"id":5,"name":"Expenses","desc":null,"is_debit_positive":1,"is_credit_positive":0,"created_by":1,"updated_by":null,"created_at":"2022-08-09T06:37:39.000000Z","updated_at":"2022-08-09T06:37:39.000000Z","deleted_at":null},"chart_of_accounts":[{"id":68,"account_group_id":44,"parent_id":null,"code":"5003001","name":"Payroll","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"General and administrative","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:34:56.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":69,"account_group_id":44,"parent_id":null,"code":"5003002","name":"Payroll expenses","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Payroll expenses","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T09:35:09.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":70,"account_group_id":44,"parent_id":null,"code":"5003003","name":"Payroll benefits","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Payroll benefits","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T10:48:31.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":71,"account_group_id":44,"parent_id":null,"code":"5003004","name":"Payroll taxes","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Payroll taxes","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T10:48:44.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":72,"account_group_id":44,"parent_id":null,"code":"5003005","name":"Pensions","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Pensions","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T10:49:05.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":73,"account_group_id":44,"parent_id":null,"code":"5003006","name":"Recruitment expenses","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Recruitment expenses","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T10:49:20.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":74,"account_group_id":44,"parent_id":null,"code":"5003007","name":"Rent","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Rent","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T10:49:55.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":75,"account_group_id":44,"parent_id":null,"code":"5003008","name":"Water","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Water","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T10:50:26.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":76,"account_group_id":44,"parent_id":null,"code":"5003009","name":"Property taxes","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Property taxes","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T10:50:40.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":77,"account_group_id":44,"parent_id":null,"code":"5003010","name":"Premises insurance","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_or_cash":0,"reconciliation":0,"notes":"Premises insurance","is_manual_transaction_allowed":"yes","is_reviewed":"approved","is_assessed":"approved","is_approved":"approved","created_by":22,"updated_by":22,"created_at":"2022-03-30T10:51:02.000000Z","updated_at":"2022-10-03T06:50:41.000000Z","deleted_at":null},{"id":78,"account_group_id":44,"parent_id":null,"code":"5003011","name":"Electricity","type":"D","exchange_rate_id":3,"opening_balance":"0.00","bank_
[...]
